ul{
    font-size: 40px
}

li{
    color:aliceblue;
    font-size: 20px;
    font-style:italic;
    text-align:left;
}

.hi{
    font-size: 15px;
}

#friend{
    margin: 10px;
    padding:10px;
}

.yay{
    height: 850px;
}

.third{
    height:650px;
}

.howdy{
    padding-right:100px;
}

.lefthowdy{
    padding-left:175px;
}

.rescale{
    height:750px;
    padding-left:200px;
    padding-right:100px;
}

.hihi{
    padding-left:50px;
    padding-top:50px;
}

.bgblackblack{
    background-color: #687d90cf;
}
